<% if @bookmark.destroyed? %>
 $('#bookmark-' +<%= @bookmark.id %>).hide().removeClass('hide');
<% else %>
$('#bookmark-' +<%= @bookmark.id %>).prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>