<div class="row">
  <div class="col-md-8">
    <p><%= @bookmark.url %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@bookmark).edit? %>
      <%= link_to "Edit", edit_category_bookmark_path(@category,@bookmark), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
