<h3>Welcome to G-Blockmark</h3>
<p>It's easy enough to bookmark a URL in your browser, but eventually your bookmark library may get cluttered and it may require effort to find and manage bookmarks. We'd also like the ability to share bookmarks with friends, which is not something we can do easily from our native browser.
</p>

<p>G-Blocmarks will solve these problems by organizing bookmarks by topic and making them public so that other users can find them and add bookmarks to their own G-Blocmarks index.</p>

<p>Let's say you find an inspirational blog post.  You should be able to add this URL to the body of an email and send it a G-Blocmarks email address with a hashtag like #inspirational in the subject line. G-Blocmarks should save the bookmark and add it to an index where other users can find it.</p>

<div class="row">
  <div class="col-md-12">
    <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>  
  </div>
</div>
