<h1>All Categories</h1>
<% @categories.each do |category| %>
 <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to category.name, category %>
      </h4>
    </div>
  </div>
<% end %>

<% if policy(Category.new).create? %>
  <%= link_to "New Category", new_category_path, class: 'btn btn-success' %>
<% end %>
