<h1><%= @category.name %></h1>

<% if policy(@category).update? %>
  <%= link_to "Edit Category", edit_category_path, class: 'btn btn-success' %>
<% end %>
<hr>
<div class="col-md-12">
  <div class="col-md-8">
    <%= render @bookmarks %>
  </div>
  <div class="col-md-4">
    <% if policy(Bookmark.new).create? %>
      <%= link_to "New Bookmark", new_category_bookmark_path(@category), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>