<% if policy(Vote.new).create? %>
<div class="row">
  <span><%= link_to "Like", category_bookmark_like_path(category, bookmark) , class: 'btn btn-primary btn-sm' %></span>
  <span><%= link_to "Unlike", category_bookmark_unlike_path(category, bookmark), class: 'btn btn-info btn-sm' %></span>
</div>
<% end %>